@font-face {
    font-family: Ubuntu_Light;
    src: url(fonts/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Ubuntu_Bold;
    src: url(fonts/Ubuntu-Bold.ttf);
}

html{
    height: 100%;
}


body{
    text-align: center;
    font-family: Ubuntu_Light;
    background: linear-gradient(320rad, blue, orange);
    background-attachment: fixed;
}

h1 {
    font-family: Ubuntu_Bold;
}

#DateTime {
    -webkit-text-stroke-color: black;
    line-height: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
}

#Time {
    color: white;
    -webkit-text-stroke-width: 2.5px;
    font-size: 70px;
    margin: 0;
}

#Date {
    font-size: 20px;
    font-weight: 900;
}

#welcomeMessage {
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#appLaunchInstruction {
    font-weight: 600;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
}