/* General */
@font-face {
    font-family: Ubuntu_Light;
    src: url(fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu_Bold;
    src: url(fonts/Ubuntu-Bold.ttf);
}

html{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: #102840;
    font-family: Ubuntu_Light;
}

#Weather {
    transition: all 1s ease-out;
    width: 400px;
    padding: 10px 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 25px;
    overflow: hidden;
    border-radius: 10px;
}

#weatherSearchBar {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#weatherSearchBar i {
    font-size: 25px;
}

#weatherSearchBar input{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    border: none;
}

#weatherSearchBar input::placeholder {
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
}

#weatherSearchBar button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: black;
    border: none;
    background-color: #dff6ff;
    font-size: 22px;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#weatherSearchBar button:hover {
    transition: all ease 0.5s;
    background-color: #04263d;
    color: #fff;
}
#weatherInformations {
    display: none;
    color: #fff;
    background-color: #04263d;
    box-shadow: 1px 1px 20px black;
    height: 85%;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 10px;
}

#weatherImg{
    margin-top: 10px;
    width: 200px;
    background-color: #04263d;
    border-radius: 5px;
    filter: blur(2px);
}

#weatherStatus{
    margin: 0 0 0 0;
    color: aqua;
    text-shadow: 1px 1px 30px aqua;
}

#weatherTemp {
    padding-top: 20px;
}

#weatherWindSpeed {
    font-size: 18px;
}

#weatherRainIndicator{
    font-size: 17px;
}

#weatherRainIndicator img {
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
    margin-right: 5px;
    background-color: transparent;
    filter: invert(1);
}

#weather404 {
    display: none;
    margin-top: 100px;
}

#weather404 p {
    font-family: Ubuntu_Bold;
    font-size: 20px;
}