@font-face {
    font-family: ubuntuLight;
    src: url(../css/fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: ubuntuBold;
    src: url(../css/fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: robottoBold;
    src: url(../css/fonts/Roboto/Roboto-Bold.ttf);
}

*{
    transition: all ease .5s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:hover {
        transition: all ease .5s;
    }
}

body {
    overflow: hidden;
    text-align: center;
    background-color: black;
}

.loadingAnim {
    animation: LoadSkeleton 1s infinite;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: darkGray; 
    transition: all ease .5s;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    transition: all ease .5s;
    background: gray; 
}

@keyframes LoadSkeleton {
    0% {
        background: hsla(0, 1%, 38%, 0.597);

    } 100% {
        background: hsl(200, 20%, 0);
    }
}