@font-face {
    font-family: ubuntuLight;
    src: url(../css/fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: ubuntuBold;
    src: url(../css/fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: robottoBold;
    src: url(../css/fonts/Roboto/Roboto-Bold.ttf);
}

*{
    transition: all ease .5s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:hover {
        transition: all ease .5s;
    }
}

body {
    overflow: hidden;
    text-align: center;
    background-color: black;
}

.loadingAnim {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #1e1e1e 23%, #494949 41%, #1e1e1e 60%);
    background-size: 800px 100px;
    animation: LoadSkeleton linear 2s infinite;
    &::before {
        content: "Loading...";
        font-size: 18px;
        color: white;
        font-family: "ubuntuLight";
        position: absolute;
        bottom: 50%;
        left: 50%;
        translate: -50%;
    }
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: darkGray; 
    transition: all ease .5s;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    transition: all ease .5s;
    background: gray; 
}

@keyframes LoadSkeleton {
    from {
        background-position: 800px 0;
    } to {
        background-position: -800px 0;
    }
}