$generalBackground: orange;
$generalTextColor: black;
$generalFontSize: 18px;
$fontWeights: (
    "regular": 400,
    "medium": 600,
    "bold": 900
);

@mixin mobile() {
    @media (max-width: 770px) {
        @content;
    }
}

@mixin galery($state) {
    color: white;
    font-size: 30px;
    padding: 20px;
    padding-right: 45px;
    float: right;
    &::after {
        content: $state;
        font-size: 15px;
        letter-spacing: 2px;
        position: absolute;
        top: 28px;
        right: 90px;
        opacity: 0;
        text-shadow: 1px 1px 20px black;
        transition: all ease 0.5s;
    }
    &:hover {
        cursor: pointer;
        color: black;
        &::after {
            transition: all ease 0.5s;
            opacity: 1;
        }
    }
}