@import "config";
@import "variables";

.firstSlide {
    height: 100vh;
    h1 {
        padding-top: 10vh;
        font-size: 4rem;
        font-family: ubuntuBold;
    }
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}