@import "./variables";
@import "./elementsGeneral";

body {
    background-color: $generalBackground;
}

#welcome {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    @include threeDElement(1px);
    &_msg {
        @include textStyles($generalTextColor, $generalFontSize, weight(bold));
        &::before {
            content: "- ";
        }
    }
}